body {
    background-color: yellow;
  }
  h1 {
    color: blue;
  }
  div {
    color: red;
  }
  <style>
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
div  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
div {
  border: 1px solid yellow;
}
div {
  border: 1px solid powderblue;
  padding: 20px;
}
div{
  background-color: black,red,yellow,green,black;
  border: 2px solid powderblue;
  margin: 50px;
}