<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Purposes</title>
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/jq-data-material.css')}}">
    <style>
      header, main, footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-left: 0;
        }
      }
    </style>
</head>
<body>
  <header>
      <div class="navbar">
        <nav>
          <div class="nav-wrapper white">
            <a href="#!" class="brand-logo center green-text">Queuing System</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down green-text">
                <li><a href="#" id="menu" class="green-text"><i class="material-icons green-text">menu</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    <ul id="slide-out" class="sidenav sidenav-fixed green darken-2">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="{{url_for('static',filename='assets/img/bg.jpg')}}" alt="" style="width:100%;">
            </div>
            <a href="#user"><img class="circle" src="{{ url_for('static',filename='assets/img/gcclogo.png')}}"></a>
            <a href="#name"><span class="white-text name">Admin</span></a>
            <a href="#email"><span class="white-text email">admin@gcc.com</span></a>
          </div>
        </li>
        <!-- <ul class="collapsible">
          <li>
            <div class="collapsible-header">Home<i class="material-icons left">home</i></div>
            <div class="collapsible-body"><span>jalsjfklsklfas;lfj</span></div>
          </li>
        </ul> -->
        <li class="active"><a href="/admin" class="white-text">Home <i class="material-icons right white-text">home</i></a></li>
        <li><a href="/admin_users" class="white-text">User Accounts <i class="material-icons right white-text">supervisor_account</i></a></li>
        <li><a href="/admin_staff" class="white-text">Staff <i class="material-icons right white-text">assignment_ind</i></a></li>
        <li><a href="/admin_dept" class="white-text">Department <i class="material-icons right white-text">business</i></a></li>
        <li><a href="/admin_win" class="white-text">Windows <i class="material-icons right white-text">developer_board</i></a></li>
        <li><a href="/admin_purp" class="white-text">Purposes <i class="material-icons right white-text">speaker_notes</i></a></li>
        <li><a href="/logout" class="white-text">Logout<i class="material-icons right white-text">logout</i></a></li>
    </ul>
      
  </header>
  <main>
    <div class="row">
      <div id="man" class="col s12">
        <div class="card material-table">
          <div class="table-header">
            <span class="table-title">Purposes</span>
            <div class="actions">
              <a href="#addClientes" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">person_add</i></a>
              <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
            </div>
          </div>
          <table id="datatable">
            <thead>
              <tr>
                <th>Purpose ID</th>
                <th>Purpose Name</th>
                <th>Purpose Description</th>
                <th>Assigned Window No.</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>
                    <a class="waves-effect waves-light btn modal-trigger orange" href="#mupdate"><i class="material-icons white-text">edit</i></a>
                    <a class="waves-effect waves-light btn modal-trigger red" href="#dupdate"><i class="material-icons white-text">delete</i></a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jq-data-material.js')}}"></script>
    <script>
        // SideNav
    let slout = document.querySelector("#slide-out");
    let men = document.querySelector("#menu");
    men.addEventListener('click',()=>{
      if(slout.M_Sidenav.isOpen == false){
        slout.M_Sidenav.open(); 
        document.getElementsByTagName('footer')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('main')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('header')[0].style.paddingLeft = "300px";
      }else if(slout.M_Sidenav.isOpen == true){
        slout.M_Sidenav.close();
        console.log(slout.M_Sidenav.isDragged)
        document.getElementsByTagName('footer')[0].style.paddingLeft = 0;
        document.getElementsByTagName('main')[0].style.paddingLeft = 0;
        document.getElementsByTagName('header')[0].style.paddingLeft = 0;
      }
    })
    // EndSideNav
    M.AutoInit();
    // let status = '{{status}}';
    // if(status!=''){
    //   M.toast({html: status})
    // }
    </script>
</body>
</html>