<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Print Number</title>
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
</head>
<body>
    <nav>
    <div class="nav-wrapper green">
        <a href="#!" class="brand-logo">Queuing System</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Login <i class="material-icons right">vpn_key</i></a></li>
            <li><a href="/windash">Windows Dashboard <i class="material-icons right">developer_board</i></a></li>
        </ul>
    </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Login <i class="material-icons right">vpn_key</i></a></li>
        <li><a href="/windash">Windows Dashboard <i class="material-icons right">developer_board</i></a></li>
    </ul>
    <div class="container">
        <div class="row">
            <form action="/print_num" method="post">
            <div class="col s10 m8">
                <div class="card">
                    <div class="card-image">
                        <img src="{{url_for('static',filename='assets/img/bg.jpg')}}">
                        <span class="card-title white-text" style="font-size:10rem;">
                           <p id="numb"></p>
                           
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title flow-text">Print Number</span>
                            <input type="number" name="number" id="qNumb" hidden>
                            <div class="input-field col s12">
                                <select name="win_no" id="win_no" required >
                                    {% for row in win %}
                                    <option value="{{row[0]}}">{{row[1]}}</option>
                                    {% endfor %}
                                </select>
                                <label for="win_no">Choose Window:</label>
                            </div>
                            <div class="input-field col s12">
                                <select name="purp_id" id="purp_id" required>

                                </select>
                                <label for="purp_id">Select Purpose:</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-large waves-effect waves-light blue large" type="submit" name="print_num"><i class="material-icons large">print</i></button>
                        </div>
                    </div>                    
                </div>
            </div>      
            </form>      

        </div>
    </div>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    
    <script>
    M.AutoInit();
    let win = document.querySelector("#win_no");
    let purp = document.querySelector("#purp_id");
    $("#win_no").on('change click selected',check);
    $("#purp_id").on('change click selected',up);
    function check(e){
    // var total = e.options[e.selectedIndex].value;
    var winNo = win.options[win.selectedIndex].value;
        $.post('/checkPurp',{win_no:winNo},()=>{
            
        }).done((data)=>{
            var obj = JSON.parse(data);
            var purp_id = document.querySelector("#purp_id");    
            var options = '';
            $.each(obj,function(i,val){
                // console.log(obj[i].purp_id+"|"+i+"|"+"val")
                options = options+"<option data-numb='"+val.numb+"' value='"+val.purp_id+"'>"+val.purpose_name+"</option>";
            });
            $("#purp_id").empty();
            $("#purp_id").append(options);
            $("#purp_id").prop('selected',true).trigger('change');
            // console.log(purp_id)
            console.log(obj);   
            M.AutoInit(); // Call this every change.
        }).fail((error)=>{
            console.log(error)  
        });
    }
    function up(e){
        let numb = this.options[this.selectedIndex].dataset.numb;
        let qn = document.querySelector("#qNumb");
        let nm = document.querySelector("#numb");
        if(numb=='null'){
            qn.value = 1;
            nm.innerText = 1;
        }else{
            qn.value = numb;
            nm.innerText = numb;
        }
    }
    check();
    let status = '{{status}}';
    if(status!=''){
      M.toast({html: status.data})
    }
    </script>
</body>
</html>
