<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar Dashboard</title>
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
    <style>
      header, main, footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-left: 0;
        }
      }
    </style>
</head>
<body>
  <header>
      <div class="navbar">
        <nav>
          <div class="nav-wrapper white">
              <a href="#!" class="brand-logo center green-text">Queuing System</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons green-text">menu</i></a>  
          </div>
        </nav>
      </div>
    <ul id="slide-out" class="sidenav sidenav-fixed green darken-2">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="{{url_for('static',filename='assets/img/bg.jpg')}}" alt="" style="width:100%;">
            </div>
            <a href="#user"><img class="circle" src="{{ url_for('static',filename='assets/img/gcclogo.png')}}"></a>
            <a href="#name"><span class="white-text name">Registrar</span></a>
            <a href="#email"><span class="white-text email">registrar@gcc.com</span></a>
          </div>
        </li>
        <li class="active"><a href="/admin" class="white-text">Home <i class="material-icons right white-text">home</i></a></li>
        <li><a href="/logout" class="white-text">Logout<i class="material-icons right white-text">logout</i></a></li>
    </ul>
      
  </header>
  <main>
    <div class="row">
      <div class="col s12 m12">
        <div class="card green darken-1">
          <div class="card-content white-text">
              <span class="card-title white-text center" style="font-size: 4rem;">Window {{session['winNo']}}</span>
            <span class="card-title center" style="font-size: 2rem;">Now Serving...</span>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <span class="card-title center" style="font-size:4rem;" id="numb"></span>
            <br>
            <input type="number" name="" id="q_purpid" value="" hidden >
            <input type="number" name="" id="q_numb" value="" hidden >
            <input type="number" name="" id="q_winNo" value="" hidden>
            <span class="card-title left">Purpose: <b id="purpose"></b> </span>
            <!-- {{ session['winNo'] }} -->
            <br>
          </div>
          <div class="card-action green darken-2">
            <a class="btn btn-large white-text" id='btn-next'>Next<i class="material-icons right">navigate_next</i></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    
  </footer>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/axios.min.js')}}"></script>
    <script>
    M.AutoInit();
    let btnext = document.querySelector("#btn-next");
    btnext.addEventListener('click',function(){
        var qnumb = document.querySelector("#q_numb");
        var qpurp = document.querySelector("#q_purpid");
        var qwin = document.querySelector("#q_winNo");
        var uid = "{{session['uid']}}";
        axios.post('/serveNext',{
          qnumb: qnumb.value,
          qpurp: qpurp.value,
          qwin: qwin.value,
          quid: uid
        }).then(function(response){
          var obj = response.data;
          if(obj.status=='ok'){
            M.toast({html: 'Success!'});
            check();
          }else if(obj.status=='n/a'){
            M.toast({html: 'Wait for more customer!'});
            check();
          }
        }).catch(function(error){
          console.log(error);
        })
    });
    function check(){
         axios.post('/nextPrint', {
          winNo: "{{session['winNo']}}",
          
        })
        .then(function (response) {
          var obj = response.data;
          var numb = document.querySelector("#numb");
          var qnumb = document.querySelector("#q_numb");
          var qpurp = document.querySelector("#q_purpid");
          var qwin = document.querySelector("#q_winNo");
          var purp = document.querySelector("#purpose");
          numb.textContent=obj.numb;
          purp.textContent=obj.purpose_name;
          qnumb.value = obj.numb;
          qpurp.value = obj.purp_id;
          qwin.value = obj.win_no;
          if(obj.status=='n/a'){
            M.toast({html: 'No Customer Yet!'});
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
    window.setInterval(function(){
      check();
    },10000)
    check();
    // let status = '{{status}}';
    // if(status!=''){
    //   M.toast({html: status})
    // }
    </script>
</body>
</html>